/* Box Model Hack */
* {
 -moz-box-sizing: border-box; /* Firexfox */
 -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */

 margin: 0px;
 padding: 0px;
 font-family: helvetica;
}

/* Clear fix hack */
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}

.clear {
	clear: both;
}

.shadows {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

header {
	font-size: x-large;
	font-weight: bold;
    height: 200px;
	text-align: center;
	background-color: grey;
    position: relative;
}

header p {
    padding: 85px;
}

nav {
    background-color: cadetblue;
    padding-top: 3px;
}

.sticky {
    position: fixed;
    top: 0px;
}

a {
	text-decoration: none;
	color: #000000;
	padding: 0 0 3 0px;
	font-weight: bold;
	display:inline-block;
}

a:hover {
	border-bottom: 1px solid #000;
}

ul {
	list-style: none;
	overflow: hidden;
	padding-left: 10px;
}

li {
	/*float: left;*/
	padding-bottom: 5px;
	padding-right: 10px;
	display:inline;
}

h4 {
	padding: 3px;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #000;
}